body {
    background-color: #00FFFF; 
    font-family: Arial, sans-serif; 
    font-size: 12px; 
}

h1 {
    font-size: 2.5em; 
}

dd {
    font-size: 1.5em; 
    color: #FF0000; 
}

p[title] {
    line-height: 1.5; 
    font-size: 1.7em;
}

.reasons {
    color: #FF0F70; 
    font-weight: bold; 
    line-height: 1.5; 
    font-size: 1.5em; 
    font-style: italic; 
}

.description01 {
    color: #F500FF; 
    font-style: italic;
}

.description07 {
    color: #FF4500; 
}

em {
    font-weight: bold; 
    color: #FF0000; 
}
